<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.contribution.junit.runtest"
			objectClass="org.eclipse.jdt.core.IType">
			<action
				id="org.eclipse.contribution.junit.runtest.action"
				label="Run Test"
				enablesFor="1"
				class="org.eclipse.contribution.junit.RunTestAction">
			</action>
		</objectContribution>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="org.eclipse.contribution.junit.popupMenu"
			targetID="org.eclipse.contribution.junit.resultView">
			<action
				id="org.eclipse.contribution.junit.popupMenu.item"
				label="Contributed Item"
				menubarPath="additions"
				class="">
			</action>
		</viewerContribution>
	</extension>

	<extension
		point="org.eclipse.ui.views">
		<view
			id="org.eclipse.contribution.junit.resultView"
			name="Contributed Result View"
			class="org.eclipse.contribution.junit.ResultView">
		</view>
	</extension>

	<extension
		point="org.eclipse.core.resources.markers"
		id="failure"
		name="Test Failure">
		<super type="org.eclipse.jdt.core.problem" />
		<persistent value="true" />
	</extension>

	<!-- marker image is not replaced where super type is
	org.eclipse.jdt.core.problem -->
	<extension
		point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider
			markertype="org.eclipse.contribution.junit.failure"
			icon="icons/testerr.gif"
			id="org.contribution.junit">
		</imageprovider>
	</extension>

	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="org.eclipse.contribution.junit.failure"
			class="org.eclipse.contribution.junit.RerunMarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>

	<!-- extension points exposed by this plugin-->
	<extension-point id="listeners" name="Test Listeners" />

</plugin>
