<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.contribution.junit.runtest"
			objectClass="org.eclipse.jdt.core.IType">
			<action
				id="org.eclipse.contribution.junit.runtest.action"
				label="Run Test"
				enablesFor="1"
				class="org.eclipse.contribution.junit.RunTestAction">
			</action>
		</objectContribution>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			id="org.eclipse.contribution.junit.popupMenu"
			targetID="org.eclipse.contribution.junit.resultView">
			<action
				id="org.eclipse.contribution.junit.popupMenu.item"
				label="Contributed Item"
				menubarPath="additions"
				class="">
			</action>
		</viewerContribution>
	</extension>

	<extension
		point="org.eclipse.ui.views">
		<view
			id="org.eclipse.contribution.junit.resultView"
			name="Contributed Result View"
			class="org.eclipse.contribution.junit.ResultView"
			category="org.eclipse.jdt.ui.java">
		</view>

		<view
			id="org.eclipse.contribution.junit.testReportView"
			name="Contributed Test Report"
			icon="icons/testok.gif"
			class="org.eclipse.contribution.junit.TestReportView"
			category="org.eclipse.jdt.ui.java">
		</view>

	</extension>

	<extension
		point="org.eclipse.core.resources.markers"
		id="failure"
		name="Test Failure">
		<super type="org.eclipse.jdt.core.problem" />
		<persistent value="true" />
	</extension>

	<!-- marker image is not replaced where super type is
	org.eclipse.jdt.core.problem -->
	<extension
		point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider
			markertype="org.eclipse.contribution.junit.failure"
			icon="icons/testerr.gif"
			id="org.contribution.junit">
		</imageprovider>
	</extension>

	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="org.eclipse.contribution.junit.failure"
			class="org.eclipse.contribution.junit.RerunMarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>

	<extension point="org.eclipse.core.resources.natures"
		id="autoTestNature"
		name="Auto Test">
		<runtime>
			<run class="org.eclipse.contribution.junit.AutoTestNature" />
		</runtime>
		<requires-nature id="org.eclipse.jdt.core.javanature" />
		<builder id="org.eclipse.contribution.junit.autoTestBuilder" />
	</extension>

	<extension point="org.eclipse.core.resources.builders"
		id="autoTestBuilder"
		name="Auto Test Builder">
		<builder>
			<run class="org.eclipse.contribution.junit.AutoTestBuilder" />
		</builder>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.eclipse.contribution.junit.autotestproperty"
			name="Auto-test"
			objectClass="org.eclipse.core.resources.IProject"
			adaptable="true"
			class="org.eclipse.contribution.junit.AutoTestPropertyPage">
			<filter name="nature" value="org.eclipse.jdt.core.javanature" />
		</page>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor
			id="org.eclipse.contribution.junit.TestExclusionEditor"
			icon="icons/testok.gif"
			name="Test Exclusions Editor"
			filenames="test.exclusion"
			class="org.eclipse.ui.editors.text.TextEditor"
			default="true"
			contributorClass="org.eclipse.contribution.junit.TestExclusionEditorActionContributor">
		</editor>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view
				id="org.eclipse.contribution.junit.testReportView"
				relative="org.eclipse.ui.views.TaskList"
				visible="false"
				relationship="stack">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view
				relative="org.eclipse.ui.views.TaskList"
				visible="false"
				relationship="bottom"
				ratio="0.6"
				id="org.eclipse.contribution.junit.resultView">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaPerspective">
			<viewShortcut id="org.eclipse.contribution.junit.testReportView" />
			<viewShortcut id="org.eclipse.contribution.junit.resultView" />
		</perspectiveExtension>
	</extension>

	<!-- extension points exposed by this plugin-->
	<extension-point id="listeners" name="Test Listeners" />

</plugin>
