<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.contribution.junit.runtest"
			objectClass="org.eclipse.jdt.core.IType">
			<action
				id="org.eclipse.contribution.junit.runtest.action"
				label="Run Test"
				enablesFor="1"
				class="org.eclipse.contribution.junit.RunTestAction">
			</action>
		</objectContribution>
	</extension>

	<!-- extension points exposed by this plugin-->
	<extension-point id="listeners" name="Test Listeners" />

</plugin>
