<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			label="Hello Action Set"
			id="org.eclipse.contribution.hello.actionSet">
			<action
				label="Hello"
				class="org.eclipse.contribution.hello.HelloAction"
				toolbarPath="helloGroup"
				id="org.eclipse.contribution.hello.HelloAction">
			</action>
		</actionSet>
	</extension>

</plugin>
